<html ng-app="app">
<meta charset="utf-8" />

<head>
    <title>DataBind - Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="exemplo.controller.js"></script>
</head>

<body ng-controller="ExemploController">
    Nome: <input type="text" ng-model="nome" />
    <hr/>
    <h1>Olá {{nome}}!</h1>
    <button ng-click="contarCliques()">
        Clique aqui
    </button> Você clicou no botão "Clique aqui" {{quantideCliques}} vezes
</body>

</html>