<html ng-app="app">
<meta charset="utf-8" />

<head>
    <title>Fomulário</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="exemplo.controller.js"></script>
</head>

<body ng-controller="ExemploController">
    <form name="meuFormulario">

        <input type="text" ng-model="nomeFormulario" name="nomeFormulario" value="Seu nome é..." required/>
        <button ng-disabled="meuFormulario.$invalid" ng-click="salvar()" />Salvar</button>
        <br/>
        <span ng-show="meuFormulario.$invalid">
            Formulário com erros!
        </span>
        <br/>
    </form>
</body>

</html>